<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <title>Projects Page</title>
  </head>
  <body>
    {{> header}}

    <p>My portifolio</p>

    {{> footer}}
  </body>
</html>
